---
import Link from "../../../atoms/Link.astro";
import Heading from "../../../atoms/Heading.astro";
import Text from "../../../atoms/Text.astro";
import Skills from "../../../molecules/Skills.svelte";

interface Props {
  period: string;
  role: string;
  company: {
    name: string;
    url: string;
  };
  skills: string[];
}

const { role, period, company, skills } = Astro.props;
---

<li class="root">
  <header>
    <Text as="h3" size="5" weight="regular">
      {role} at <Link href={company.url} target="_blank">{company.name}</Link>
    </Text>

    <Text size="2"  color="muted" weight="bold">{period}</Text>
  </header>

  <Text color="muted">
    <slot />
  </Text>

  <Skills client:only="svelte" {skills} />
</li>

<style>
  .root {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  header {
    display: flex;
    flex-direction: column;
  }
</style>
